<!-- filepath: /Users/emerson/Desktop/Todo_Mac/proyectos_python/venta_cursos_pagos/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My App{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <!-- Incluir Tremor CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tremor@latest/dist/tremor.css"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
          {% if current_user.is_authenticated %} {% if current_user.rol ==
          'admin' %}
          <li><a href="{{ url_for('nuevo_curso') }}">Crear Nuevo Curso</a></li>
          <li>
            <a href="{{ url_for('transferencias_pendientes') }}"
              >Transferencias Pendientes</a
            >
          </li>
          {% endif %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          <li>Bienvenido, {{ current_user.nombre }}</li>
          {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% block content %} {% endblock %}
    </main>

    <!-- Incluir Tremor JS -->
    <script src="https://cdn.jsdelivr.net/npm/tremor@latest/dist/tremor.js"></script>
  </body>
</html>
