<!-- filepath: /Users/emerson/Desktop/Todo_Mac/proyectos_python/venta_cursos_pagos/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My App{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles_navbar.css') }}"
    />
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
    <!-- Incluir Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a class="logo" href="{{ url_for('dashboard') }}">CompilandoCode</a>
          <p>Compra los cursos que necesitas</p>
        </div>

        <ul>
          <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
          {% if current_user.is_authenticated %} {% if current_user.rol ==
          'admin' %}
          <li><a href="{{ url_for('nuevo_curso') }}">Crear Nuevo Curso</a></li>
          <li>
            <a href="{{ url_for('transferencias_pendientes') }}"
              >Transferencias Pendientes</a
            >
          </li>
          <li>
            <a href="{{ url_for('admin_dashboard') }}"
              >Dashboard de Administrador</a
            >
          </li>
          {% endif %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          <li>
            Bienvenido, {{ current_user.nombre }} {% if current_user.rol ==
            'admin' %}
            <span>Administrador</span>
            {% endif %}
          </li>
          {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </main>

    <footer>
      <p>&copy; 2025 Mi Aplicación</p>
    </footer>
  </body>
</html>
