{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<h1>Bienvenido al Dashboard</h1>

{% if current_user.rol == 'admin' %}
<a href="{{ url_for('nuevo_curso') }}">Crear Nuevo Curso</a>
<br />
<h2>Lista de Cursos</h2>
<ul>
  {% for curso in cursos %}
  <li>
    {{ curso.nombre }} - {{ curso.precio }} USD
    <a href="{{ url_for('editar_curso', id=curso.id) }}">Editar</a>
    <a href="{{ url_for('eliminar_curso', id=curso.id) }}">Eliminar</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

<h2>Mis Compras</h2>
<ul>
  {% for venta in mis_ventas %} {% if venta.estado_transferencia == 'confirmada'
  and venta.fecha_expiracion > current_time %}
  <li>
    Curso: {{ venta.curso.nombre }} - Método de Pago: {{ venta.metodo_pago }} -
    Fecha: {{ venta.fecha_venta }} - Expira: {{ venta.fecha_expiracion }}
  </li>
  {% endif %} {% endfor %}
</ul>

<h2>Cursos Pendientes de Confirmación</h2>
<ul>
  {% for venta in mis_ventas %} {% if venta.estado_transferencia == 'pendiente'
  %}
  <li>
    Curso: {{ venta.curso.nombre }} - Método de Pago: {{ venta.metodo_pago }} -
    Fecha: {{ venta.fecha_venta }} - <span>Pendiente de Confirmación</span>
  </li>
  {% endif %} {% endfor %}
</ul>

<h2>Cursos Disponibles</h2>
<ul>
  {% for curso in cursos %}
  <li>
    {{ curso.nombre }} - {{ curso.precio }} USD {% if curso.id in
    cursos_comprados_ids %}
    <span>Ya comprado</span>
    {% elif curso.id in cursos_pendientes_ids %}
    <span>Pendiente de Confirmación</span>
    {% else %}
    <a href="{{ url_for('comprar_curso', curso_id=curso.id) }}">Comprar</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
